<!DOCTYPE html>
<html>
<head>
    <title>Available Cars - Car App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="hero">Available Cars</div>
    <div class="container">
        <h2>Available Cars</h2>
        <table border="1" cellpadding="8">
            <tr>
                <th>Car Name</th>
                <th>Price ($)</th>
                <th>Action</th>
            </tr>
            <% cars.forEach(car => { %>
                <tr>
                    <td><%= car.name %></td>
                    <td><%= car.price %></td>
                    <td>
                        <a href="/submit-form/<%= car.id %>?user=<%= user %>">Submit Form</a>
                    </td>
                </tr>
            <% }); %>
        </table>
        <br>
        <!-- <a href="/">Home</a> -->
    </div>
</body>
</html>
