<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Car App</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Welcome to the Car Interest Application</h1>
    <a href="/signup">Sign Up</a> |
    <a href="/login">Log In</a>
</body>
</html>