<!DOCTYPE html>
<html>
<head>
    <title>Log In - Car App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="hero">Car Interest Application</div>
    <div class="container">
        <h2>Log In</h2>
        <form action="/login" method="POST">
            <label>Username:</label>
            <input type="text" name="username" required />

            <label>Password:</label>
            <input type="password" name="password" required />

            <button type="submit">Log In</button>
        </form>
        <div class="link-center">
            <a href="/signup">Don't have an account? Sign Up</a>
        </div>
    </div>
</body>
</html>
